  @{
  Layout = "_Layout";
}

<div class="container">
  <h1>Welcome To Eau Claire's Salon Managment Website!</h1>
  <hr>

  <p>@Html.ActionLink("See All Stylists", "Index", "Stylists")</p>
  <p>@Html.ActionLink("See All Clients by Stylist", "Index", "Clients")</p>
</div>